<h1>Posts#show</h1>
<%=@post.title%>
<%=@post.content%>
<%=@post.likes%>

<%=link_to @post.blogger.name, blogger_path(@post.blogger)%>
<%=link_to @post.destination.name, destination_path(@post.destination)%>

<%=link_to "Like" , action="#{@post.id}/increase", method: :post %>





