<h1>Destinations#show</h1>

<%= @destination.name%>
<%= @destination.country%>
<% @destination.posts.last(5).each do |post|%>
<li><%= post.title%></li>
<%end%>
<%=link_to "Featured Post" , post_path(@max)%>

<%@sum = @destination.bloggers.sum do |blogger|%>
<% blogger.age%>
<%end%>

<%=@sum /@destination.bloggers.count%>







